
<form name="searchForm">
    <div class="form-group">
        <div class="input-group">
            <input type="search" required placeholder="username" ng-model="username" class="form-control">
            <span class="input-group-btn">
                <input type="submit" value="Search" ng-click="search(username)" class="btn btn-success">
            </span>
        </div>
    </div>
</form>

<hr/>

<div ng-show="user">
    <div class="thumbnail">
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}" height="150" width="150" class="img-circle">

        <div class="caption text-center">
            <h3>{{user.name}}</h3>

            <p>{{user.email}} <br/> {{user.location}}</p>

            <p><button ng-click="viewRepos(user.login)"class="btn btn-success">View Repos</button></p>
        </div>
    </div>

</div>









