<div ng-show="error" class="alert alert-warning">
    <p>{{error}}</p>
</div>

<div ng-show="user" class="thumbnail">
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}" height="150" width="150" class="img-circle">

    <div class="caption text-center">
        <h3>{{user.name}}</h3>

        <p>{{user.email}} <br/> {{user.location}}</p>
    </div>
</div>

<div ng-include="'views/inc/repos.html'" ng-show="repos.length"></div>

<a href="/#main" class="btn btn-warning">Back to search</a>

